<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chat.sh.orz.cyan.runbackrun">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <service
            android:name="._jobscheduler.CyanJobService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="._jobscheduler.CJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".RunbackMainActivity" />
        <activity android:name=".WorkManagerMainActivity" />

        <service
            android:name=".frontservice.CFrontService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".FrontServiceActivity"></activity>
    </application>

</manifest>