<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chat.sh.orz.cyan.junit">

    <application>
        <activity android:name=".JunitActivity"></activity>
        <uses-library android:name="android.test.runner"></uses-library>
    </application>

</manifest>